dj-database-url==0.4.1
Django==1.11.29
docutils==0.12
gunicorn==19.6.0
Pillow==3.3.0
psycopg2==2.7.4
python-dateutil==2.5.3
requests==2.11.0
South==1.0.2
django-storages==1.5.0
boto==2.42.0
django_environ==0.4.0
whitenoise==3.2
