dj-database-url==0.4.1
Django==1.9.7
docutils==0.12
gunicorn==19.6.0
Pillow==3.3.0
psycopg2==2.6.2
python-dateutil==2.5.3
requests==2.11.0
South==1.0.2
stripe==1.37.0
whitenoise==3.2
django-storages==1.5.0
boto==2.42.0
django_environ==0.4.0
