{# if the variable "nocart" is sent through the view, dont display this widget #}
{% if nocart %}{% else %}
<div class="bottom-cart">
        <div class="bottom-cart-visible ui-background-green"><h3>View Cart</h3></div>
        <div class="bottom-cart-additional">
        {% if cart %}
            {% for item in cart %}
                {% if item %}
                <div class="cart-item">
                    <div class="col-xs-5 col-sm-4 col-md-4">
                        <!--
                        {# Check if the image exists. If it does, show it. #}
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" style="width: 50px;"/>
                        {% endif %}
                           -->
                       <span class="dark-blue">{{ item.size }} {{ item.product }}</span>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        Quantity: <span>{{ item.quantity }}</span>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-4">
                        Price: $<span class="product-price checkout-price">{{ item.total }}</span>
                    </div>
                </div><hr />
                {% endif %}
            {% endfor %}


            <!-- Add up all the items -->
            <span class="tax-rate" style="display: none">{{ settings.tax }}</span>
            <div class="row">
                <h4 class="center dark-blue">Tax: $<span class="tax-price checkout-price"></span> <small class="tax-fix">{{ settings.tax }}</small></h4>
            </div>
            <div class="row">
                <h4 class="center dark-blue">Delivery Charge: $<span class="checkout-price">{{ settings.deliveryFee }}</span></h4>
            </div>
            <div class="row">
                <h3 class="center dark-blue">Your Total: $<span class="checkout-total"></span></h3>
            </div>
            <div class="row">
               <a href="/crm/checkout"><div class="flat-design ui-background-blue">Proceed To Checkout</div></a>
            </div>




        {% else %}
            <h1 id="empty-message">Hungry? Order When You're Ready :)</h1>
            <div class="cart-item"></div>
            <div class="row">
                <a href="/crm/checkout"><div class="flat-design ui-background-blue">Proceed To Checkout</div></a>
            </div>
        {% endif %}
        </div>
</div>
{% endif %}



