{% extends "anotherapp/base.html" %}

{% block content %}
    <div class=" container center">
    {% for product in cat %}
    {% if forloop.first %}
       <div class="row">
    {% endif %}
        {% ifchanged product.category %}
            </div> <br /><br /> <div class="row"><h1 class="dark-blue center">{{ product.category }}</h1><div class="col-md-3">
                {% load staticfiles %}
                <img src="{{ product.image.url }}" class="slider-image"/>
                <h4 class="dark-blue">{{ product.name }}</h4>
                <div>{{ product.excerpt }}</div>
                <h5 class="ui-green">${{ product.price }}</h5>
                <div class="flat-design ui-background-blue options-button">Options <span class="glyphicon glyphicon-chevron-down"></span></div>

                <!-- ADDITIONAL OPTIONS -->
                <div class="additional-options">

                    <!-- GET THE SIZES FROM THE DATABASE -->
                    <label for="sizes">Sizes:</label>
                        <select id="sizes" class="form-control">
                           {% for keyword in product.sizes_as_list %}
                            <option>{{ keyword }}</option>
                           {% endfor %}
                        </select><br />

                    <!-- GET THE QUANTITY OF THE PRODUCTS -->
                    <label for="quantity">Quantity</label>
                        <input id='quantity'type="number" class="form-control" value='1'/>

                    <!-- AJAX FORM FOR SENDING FOOD TO THE CART WITHOUT A PAGE REFESH -->
                    <form action="" method="POST" id="add-item">
                        {% csrf_token %}
                        <input type="hidden" value="{{ product.name }}" class='item-name'/>
                        <input type="button" class="flat-design ui-background-green add-to-order" value="Add To Order" />
                    </form>

                </div>

            </div>

        {% else %}

            <div class="col-md-3">
                <img src="{{ product.image.url }}" class="slider-image"/>
                <h4 class="dark-blue">{{ product.name }}</h4>
                <div>{{ product.excerpt }}</div>
                <h5 class="ui-green">${{ product.price }}</h5>
                <div class="flat-design ui-background-blue options-button">Options <span class="glyphicon glyphicon-chevron-down"></span></div>

                <!-- ADDITIONAL OPTIONS -->
                <div class="additional-options">

                    <!-- GET THE SIZES FROM THE DATABASE -->
                    <label for="sizes">Sizes:</label>
                        <select id="sizes" class="form-control">
                           {% for keyword in product.sizes_as_list %}
                            <option>{{ keyword }}</option>
                           {% endfor %}
                        </select><br />

                    <!-- GET THE QUANTITY OF THE PRODUCTS -->
                    <label for="quantity">Quantity</label>
                        <input id='quantity'type="number" class="form-control" value='1'/>

                    <!-- AJAX FORM FOR SENDING FOOD TO THE CART WITHOUT A PAGE REFESH -->
                    <form action="" method="POST" id="add-item">
                        {% csrf_token %}
                        <input type="hidden" value="{{ product.name }}" class='item-name'/>
                        <input type="button" class="flat-design ui-background-green add-to-order" value="Add To Order" />
                    </form>

                </div>

            </div>
        {% endifchanged %}

        {% if forloop.last %}
            </div>
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}