{% extends 'anotherapp/base.html' %}
{% block title %}Checkout{% endblock %}


{% block content %}
{% if current_orders %}
    <div class="alert alert-warning center dark-blue">
        You already have an order placed. If you need to update your order, please call.
    </div>
{% endif %}
    <h2 class="center dark-blue">Checkout</h2>


{% if not user.is_authenticated %}
    <div class="row center">
        <div class="flat-design ui-background-green">Login</div>
        <div class="flat-design ui-background-blue guest">Continue As Guest</div>
    </div>


    <div class="checkout-container" style="display: none;">
{% endif %}
    <hr />

    <div class="container-fluid">

    {% if cart_items %}
        {% for item in cart_items %}
        <div class="row center">
            <div class="col-xs-4">
               {{ item.size }} {{ item.product }}
            </div>
            <div class="col-xs-4">
                Quantity: {{ item.quantity }}
            </div>
            <div class="col-xs-4">
                Price: $<span class="product-price checkout-price">{{ item.total }}</span>
            </div>
        </div>
            <hr style="width: 50%"/>
        {% endfor %}
        <span class="tax-rate" style="display: none">{{ settings.tax }}</span>
        <div class="row">
            <h4 class="center dark-blue">Tax: $<span class="tax-price checkout-price"></span> <small class="tax-fix">{{ settings.tax }}</small></h4>
        </div>
        <div class="row">
            <h4 class="center dark-blue">Delivery Charge: $<span class="checkout-price">{{ settings.deliveryFee }}</span></h4>
        </div>
        <div class="row center">
            <h4 class="center dark-blue">Tip: <small>(optional)</small></h4>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="tip btn btn-success">5%</button>
                <button type="button" class="tip btn btn-success">10%</button>
                <button type="button" class="tip btn btn-success">15%</button>
                <button type="button" class="tip btn btn-success">20%</button>
                <button type="button" class="tip btn btn-success">25%</button>
            </div>
        </div>
        <div class="row">
            <h3 class="center dark-blue">Your Total: $<span class="checkout-total"></span></h3>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="flat-design ui-background-blue center" style="width: 100%">
                    Delivery
                </div>
            </div>
            <div class="col-xs-6">
                <div class="flat-design ui-background-green center pickup" style="width: 100%">
                    Pickup
                </div>
            </div>
        </div>

        <div class="row center form-action">
            <div class="checkout-submission" style="margin-top: 35px;">

                <h3 class="dark-blue">Enter Delivery Details</h3>

                <form action="/crm/processing/" method="POST" class="form-horizontal" role="form">
                    {% csrf_token %}
                    <input type="hidden" value="" class="form-tip" name="form-tip">
                    <!--
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="name" placeholder="Name ..." required="required">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2" for="street-address">Street Address:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="street-address" placeholder="Street Address ...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="city">City:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" placeholder="City ...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="state">State:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="state" placeholder="State ...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="zip-code">Zip Code:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="zip-code" placeholder="Zip Code ...">
                        </div>
                    </div>
                -->
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_data_key }}"
                    data-amount=""
                    data-name="{{ settings.site_title }}"
                    data-description="{{ settings.site_description }}">
                  </script>
                </form>




            </div>
        </div>

    {% else %}
        {% if cart_items %}
            <h3 class="center dark-blue">No Items In Your Cart!</h3>
        {% endif %}

    {% endif %}
    </div> <!-- ./container-fluid -->

{% if not user.is_authenticated %}
    </div> <!-- ./checkout-container -->
{% endif %}

<script>
    $(".pickup").click(function(){
        $(".checkout-submission").show();
    });
</script>
{% endblock %}