{% extends "anotherapp/base.html" %}
{% block extra_files %}
    <script type="text/javascript">
        /*
          This function is for Ajax calls. Just pass the id of the div, and the location of the url
        */
        function serverCall(id,location){
            var elem = document.getElementById(id);

            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    document.getElementById(id).innerHTML = xmlhttp.responseText;
                }
            }; // End the higher order function variable
            xmlhttp.open("GET", location, true);
            xmlhttp.send();
            statusAnimation();
        }
    </script>
{% endblock %}

{% block content %}
    <div id="status" class="status" style="display: none"></div>
    <div class="container-fluid">
        <div class="col-md-8 col-xs-12">
            <!-- CURRENT ORDERS -->

            <div class="row">
                <h2 class="center dark-blue">Active Orders</h2><hr />
                {% if dash_orders %}
                    {% for info in dash_orders %}

                        <!-- Progress Bar -->

                        <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20"
                          aria-valuemin="0" aria-valuemax="100">

                          </div>
                        </div>

                        {% if info.delivery == 1 %}
                            <div class="delivery" style="display: none">yes</div>
                        {% endif %}

                        <!-- Total amount paid -->
                        <h3 class="center dark-blue">Total: ${{ info.total }}</h3>
                        <div class="dark-blue center">Confirmation Number: <span class="confirm_number">{{ info.confirmation }}</span><br>
                        Order Type:
                            {% if item.delivery == 1 %}
                                Delivery
                            {% else %}
                                Pickup
                            {% endif %}<br />
                        </div>
                        <div class="center">
                            <small>If you have to make any changes to this order, please call Alberts Pizza at 631-487-0798</small>
                        </div>

                        <hr />

                        <!-- Order Information -->
                        <div class="center dark-blue">
                        {% for a in info.order_cart.cartitem_set.all %}
                            {{ a.quantity }} - {{ a.size }} - {{ a }}<br />
                        {% endfor %}
                        </div>

                    {% endfor %}
                {% else %}
                    <h3 class="center dark-blue">No Active Orders</h3>
                {% endif %}
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <!-- PREVIOUS ORDERS -->
            <div class="row">
                <h2 class="center dark-blue">Previous Orders</h2><hr />
                {% if prev_orders %}
                    {% for item in prev_orders %}
                        <div class="dark-blue center">
                            {{ item.date }} - ${{ item.total }}<br />
                            Order Type:
                            {% if item.delivery == 1 %}
                                Delivery
                            {% else %}
                                Pickup
                            {% endif %}<br />
                            Confirmation Number: {{ item.confirmation }}<br>
                            <a href="">View Order Information</a>
                        </div><hr />
                    {% endfor %}
                {% else %}
                     <h3 class="center dark-blue">No Previous Orders</h3>
                {% endif %}

            </div>
        </div>
    </div>

<script type="text/javascript">
    confirmation_number = $(".confirm_number");
    progress_bar = $(".progress-bar");
    status = $(".status");

    setInterval(function(){
        serverCall("status", "/crm/order/"+confirmation_number.text());
        statusAnimation();
    }, 15000);

flag = true;

if (flag){
    setInterval(function(){
        statusAnimation();
    }, 200);
    flag = false;
}

function statusAnimation(){
    var value = $(".status").text();
    var animation = progress_bar.attr("animate");


    if (value == 1 && animation !== "preparing"){
        progress_bar.animate({width: "33%"});
        progress_bar.text("Preparing");
        progress_bar.attr("animate", "preparing");
        progress_bar.addClass("ui-background-blue");
    }
    if (value == 2 && animation !== "cooking"){
        progress_bar.animate({width: "66%"});
        progress_bar.text("Cooking");
        progress_bar.attr("animate", "cooking");
        progress_bar.removeClass("ui-background-blue");
        progress_bar.addClass("ui-background-red");
    }
    if (value == 3 && animation !== "done"){
        progress_bar.animate({width: "100%"});

        if ($(".delivery").text() == "yes"){
            progress_bar.text("Out For Delivery!");
        }else{
            progress_bar.text("Ready For Pickup!");
        }

        progress_bar.attr("animate", "done");
        progress_bar.removeClass("ui-background-red");
        progress_bar.addClass("ui-background-green");

    }
}
serverCall("status", "/crm/order/"+confirmation_number.text());
statusAnimation();


insert("async");

</script>
{% endblock %}