{% extends 'anotherapp/base.html' %}
{% block title %}Home Page{% endblock%}
{% load staticfiles %}
{% block extra_files %}
    <!-- INSTALL SLICK (IMAGE CAROUSEL) ON THIS PAGE ONLY. BOOST LOAD TIMES. -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
{% endblock %}


{% block content %}
    <h1 class="center dark-blue">Check Out What's Hot! <span class="glyphicon glyphicon-fire"></span></h1>
    <div class='content'>
        <div class="slider">
        {% for product in featured %}
            {% if product.image %}
                <div style='margin: 5px;'>
                    <img src="{{ product.image.url }}" class="slider-image"/>
                    <h4 class="dark-blue">{{ product.name }}</h4>
                    <div>{{ product.excerpt }}</div>
                    <h5 class="ui-green">${{ product.price }}</h5>
                    <div class="flat-design ui-background-blue options-button">Options <span class="glyphicon glyphicon-chevron-down"></span></div>

                    <!-- ADDITIONAL OPTIONS -->
                        <div class="additional-options">

                            <!-- GET THE SIZES FROM THE DATABASE -->
                            <label for="sizes">Sizes:</label>
                                <select id="sizes" class="form-control">
                                   {% for keyword in product.sizes_as_list %}
                                    <option>{{ keyword }}</option>
                                   {% endfor %}
                                </select><br />

                            <!-- GET THE QUANTITY OF THE PRODUCTS -->
                            <label for="quantity">Quantity</label>
                                <input id='quantity' type="number" class="form-control" value='1' min="0" max="50"/>

                            <!-- AJAX FORM FOR SENDING FOOD TO THE CART WITHOUT A PAGE REFESH -->
                            <form action="" method="POST" id="add-item">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.name }}" class='item-name'/>
                                <input type="button" class="flat-design ui-background-green add-to-order" value="Add To Order" />
                            </form>

                        </div>

                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="container-fluid center dark-blue">
        <div class="row">
            <a href="/crm/view/">
                <div class="col-xs-12 full-menu">
                  View Full Menu <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
            </a>

        </div>
    </div><hr />

    <h1 class="center dark-blue">Or Pick A Category</h1>
    <div class="container-fluid center dark-blue">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-3">
                <form role="form">
                    <div class="form-group">
                        <select class="form-control" id="sel1" style="width: 50%">
                          <option>Category</option>
                          <option>Steak</option>
                          <option>Chicken</option>
                          <option>Beef</option>
                          <option>Burritos Only</option>
                        </select><br />
                    </div>
                </form>

            </div>

        </div>
    </div><hr />

{% endblock %}