{%  extends "anotherapp/base.html" %}
{% block extra_files %}
    <script type="text/javascript">
        /*
          This function is for Ajax calls. Just pass the id of the div, and the location of the url
        */
        function servCall(id,location, callback){
            var elem = document.getElementById(id);

            var xmlhttp;
            if (window.XMLHttpRequest) {
                // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp = new XMLHttpRequest();
            } else {// code for IE6, IE5
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }

            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    $("."+id).html(xmlhttp.response);
                }
            }; // End the higher order function variable
            xmlhttp.open("GET", location, true);
            xmlhttp.send();

        }
    </script>
{% endblock %}

{% block content %}
    <div class="status-container"></div>

    <div class="order-container" id="order-container"></div>


<script type="text/javascript">

// Update the .order-container to get new orders every 15 seconds
setInterval(function(){
    setInterval(servCall("order-container", "/crm/order/information/"), 3000);
}, 15000);

// Retreive all orders on page load
servCall("order-container", "/crm/order/information/");





</script>
{% endblock %}