{% extends 'anotherapp/base.html' %}
{% load staticfiles %}
{% block extra_files %}
    <!-- INSTALL SLICK (IMAGE CAROUSEL) ON THIS PAGE ONLY. BOOST LOAD TIMES of other pages. -->
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col-xs-12">



    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span></button>
      <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-th"></span></button>
    </div>



        <div class="content">
        <h1 class="dark-blue">Chicken!</h1>
            <div class="slider">
            {% for product in chicken %}
                {% if product.image %}
                    <div style='margin: 5px;'>
                        <img src="{{ product.image.url }}" class="slider-image"/>
                        <h4 class="dark-blue">{{ product.name }}</h4>
                        <div>{{ product.excerpt }}</div>
                        <h5 class="ui-green">${{ product.price }}</h5>
                        <div class="flat-design ui-background-blue options-button">Options <span class="glyphicon glyphicon-chevron-down"></span></div>

                        <!-- ADDITIONAL OPTIONS -->
                        <div class="additional-options">

                            <!-- GET THE SIZES FROM THE DATABASE -->
                            <label for="sizes">Sizes:</label>
                                <select id="sizes" class="form-control">
                                   {% for keyword in product.sizes_as_list %}
                                    <option>{{ keyword }}</option>
                                   {% endfor %}
                                </select><br />

                            <!-- GET THE QUANTITY OF THE PRODUCTS -->
                            <label for="quantity">Quantity</label>
                                <input id='quantity'type="number" class="form-control" value='1'/>

                            <!-- AJAX FORM FOR SENDING FOOD TO THE CART WITHOUT A PAGE REFESH -->
                            <form action="" method="POST" id="add-item">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.name }}" class='item-name'/>
                                <input type="button" class="flat-design ui-background-green add-to-order" value="Add To Order" />
                            </form>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div><!-- End of First Row Of Left Menu Content Area -->


    <div class='col-xs-12'>
        <div class="content">
        <h1 class="dark-blue">Steak</h1>
            <div class="slider">
            {% for product in steak %}
                {% if product.image %}
                    <div style='margin: 5px;'>
                        <img src="{{ product.image.url }}" class="slider-image"/>
                        <h4 class="dark-blue">{{ product.name }}</h4>
                        <h5 class="ui-green">${{ product.price }}</h5>
                        <div class="flat-design ui-background-blue options-button">Options <span class="glyphicon glyphicon-chevron-down"></span></div>

                        <!-- ADDITIONAL OPTIONS -->
                        <div class="additional-options">

                            <!-- GET THE SIZES FROM THE DATABASE -->
                            <label for="sizes">Sizes:</label>
                                <select id="sizes" class="form-control">
                                   {% for keyword in product.sizes_as_list %}
                                    <option>{{ keyword }}</option>
                                   {% endfor %}
                                </select><br />

                            <!-- GET THE QUANTITY OF THE PRODUCTS -->
                            <label for="quantity">Quantity</label>
                                <input id='quantity' type="number" class="form-control" value='1'/>

                            <!-- AJAX FORM FOR SENDING FOOD TO THE CART WITHOUT A PAGE REFESH -->
                            <form action="" method="POST" id="add-item">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.name }}" class='item-name'/>
                                <input type="button" class="flat-design ui-background-green add-to-order" value="Add To Order" />
                            </form>

                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div><!-- End of Bottom Row Left Content Menu Area -->



</div><!-- End of Left Menu Content Area --> <hr />





    <div class="container-fluid">
        <div class="row">

        {% for product in noimage %}

                {% if not product.image %}
                    <div class="col-xs-12 col-sm-4 col-md-4 center noimage-products" style="clear: right;">
                        <h4 class="dark-blue">{{ product.name }}</h4>
                        {{ product.excerpt }}
                        <div class="ui-green bold">${{ product.price }}</div>

                    <div class="flat-design ui-background-blue options-button">Options <span class="glyphicon glyphicon-chevron-down"></span></div>


                    <!-- ADDITIONAL OPTIONS -->
                    <div class="additional-options">

                        <!-- GET THE SIZES FROM THE DATABASE -->
                        <label for="sizes">Sizes:</label>
                            <select id="sizes" class="form-control">
                               {% for keyword in product.sizes_as_list %}
                                <option>{{ keyword }}</option>
                               {% endfor %}
                            </select><br />

                        <!-- GET THE QUANTITY OF THE PRODUCTS -->
                        <label for="quantity">Quantity</label>
                            <input id='quantity'type="number" class="form-control" value='1'/>

                        <!-- AJAX FORM FOR SENDING FOOD TO THE CART WITHOUT A PAGE REFESH -->
                        <form action="" method="POST" id="add-item">
                            {% csrf_token %}
                            <input type="hidden" value="{{ product.name }}" class='item-name'/>
                            <input type="button" class="flat-design ui-background-green add-to-order" value="Add To Order" />
                        </form>

                    </div>
                    </div>
                {% endif %}
        {% endfor %}
        <hr />
        </div>
    </div>
{% endblock %}